@import url('../../../../css2-1');

@import url('../../../../css2-2');

@import url('../../../../css2-3');

@import url('../../../../css2-4');

@import url('../../../../css2-5');

@import url('../../../../css2-6');

@import url('../../../../css2-7');

@import url('../../../../css2-8');

@import url('../../../../css2-9');

@import url('../../../../css2-10'); 
/* font-family: 'Rubik Spray Paint', cursive; */
@import url('../../../../css2-11'); 
 /*
 font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive; 
 */

@import url('../../../../css2-12');  
 /* font-family: 'Pacifico', cursive;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Lobster', cursive; 
*/

@import url('../../../../css2-13');
 /* 
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive;
 */
@import url('../../../../css2-14');
/*
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Seymour One', sans-serif;
*/


@import url('../../../../css2-15');
/* font-family: 'Mr Bedfort', cursive; */

@import url('../../../../css2-16');
/* font-family: 'Charmonman', cursive; */


@import url('../../../../css2-17');
/* font-family: 'Oleo Script', cursive; */
@import url('../../../../css2-18');
/* font-family: 'Playball', cursive; */


/*
v h 
font-family: 'Tilt Prism', cursive;
font-family: 'Monoton', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Creepster', cursive;
font-family: 'Rampart One', cursive;
 */
@import url('../../../../css2-19');
@import url('../../../../css2-20');
@import url('../../../../css2-21');
@import url('../../../../css2-22');
@import url('../../../../css2-23');
@import url('../../../../css2-24');

/* 7-6 
font-family: 'Rubik Gemstones', cursive;
font-family: 'Cinzel', serif;
font-family: 'Righteous', cursive;
font-family: 'Smokum', cursive;

*/

@import url('../../../../css2-25');
@import url('../../../../css2-26');
@import url('../../../../css2-27');
@import url('../../../../css2-28');

/* cs 
font-family: 'Bungee Spice', cursive; web
font-family: 'Nosifer', cursive; web
font-family: 'Rye', cursive;
font-family: 'Wallpoet', cursive;
font-family: 'Nabla', cursive;
font-family: 'Eater', cursive;
font-family: 'Faster One', cursive;
font-family: 'Damion', cursive; nr
font-family: 'Berkshire Swash', cursive; nr
font-family: 'Staatliches', cursive; br

*/
@import url('../../../../css2-29');
@import url('../../../../css2-30');
@import url('../../../../css2-31');
@import url('../../../../css2-32');
@import url('../../../../css2-33');
@import url('../../../../css2-34');
@import url('../../../../css2-35');
@import url('../../../../css2-36');
@import url('../../../../css2-37');
@import url('../../../../css2-38');

/* ds gz 
font-family: 'Shantell Sans', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Gajraj One', cursive;
font-family: 'Climate Crisis', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Rowdies', cursive; ds
font-family: 'Courgette', cursive; ds
font-family: 'Audiowide', cursive; ds
*/
@import url('../../../../css2-39');
@import url('../../../../css2-40');
@import url('../../../../css2-41');
@import url('../../../../css2-42');
@import url('../../../../css2-43');
@import url('../../../../css2-44');
@import url('../../../../css2-45');
@import url('../../../../css2-46');
@import url('../../../../css2-47');
@import url('../../../../css2-7');
@import url('../../../../css2-48');

